<div id="orders" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg primary"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header primary"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <app-header-page [title]="'Monitor Carta Porte'" [icon]="'people'" ></app-header-page>
        </div>
        <!-- / HEADER -->


        <!-- CONTENT CARD -->
        <div class="content-card">
            <app-monitor-list [origen]="CatOrigen.CLIENTS"></app-monitor-list>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
