<!-- FIXME EN IF CAMBIAR POR EL OBJETO QUE CORRESPONDA CAANDO SE TENGA. -->
<div *ngIf="true" [formGroup]="editForm" >
    <div fxLayout="column" fxLayoutGap="8px">

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="8px">

            <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>ID</mat-label>
                <input autocomplete="off" matInput formControlName="GeppId" />
            </mat-form-field>

            <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>Nombre de usuario</mat-label>
                <input autocomplete="off" matInput formControlName="Username" />
            </mat-form-field>

            <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>Rol</mat-label>
                <input autocomplete="off" matInput formControlName="Role" />
            </mat-form-field>


        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="8px">
            <mat-form-field fxFlex="25%" appearance="outline">
                <mat-label>Nombre</mat-label>
                <input autocomplete="off" matInput formControlName="FirstName" />
            </mat-form-field>

            <mat-form-field fxFlex="25%" appearance="outline">
                <mat-label>Segundo Nombre</mat-label>
                <input autocomplete="off" matInput formControlName="MiddleName" />
            </mat-form-field>

            <mat-form-field fxFlex="25%" appearance="outline">
                <mat-label>Apellido Paterno</mat-label>
                <input autocomplete="off" matInput formControlName="LastName" />
            </mat-form-field>

            <mat-form-field fxFlex="25%" appearance="outline">
                <mat-label>Apellido Materno</mat-label>
                <input autocomplete="off" matInput formControlName="SecondLastName" />
            </mat-form-field>

           
        </div>


        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="8px">
            <mat-form-field fxFlex="50%" appearance="outline">
                <mat-label>Correo</mat-label>
                <input autocomplete="off" matInput formControlName="Email" />
            </mat-form-field>

            <mat-form-field fxFlex="50%" appearance="outline">
                <mat-label>Contraseña</mat-label>
                <input autocomplete="off" matInput formControlName="Password" />
            </mat-form-field>

           
           
        </div>

    </div>
</div>