<div id="orders" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg primary"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div
            class="header primary"
            fxLayout="column"
            fxLayoutAlign="center center"
            fxLayout.gt-xs="row"
            fxLayoutAlign.gt-xs="space-between center">

            <app-header-page [title]="'CLIENTS.TITLE' | translate" [icon]="'people'" ></app-header-page>
        </div>
        <!-- / HEADER -->


        <!-- CONTENT CARD -->
        <div class="content-card">
            <app-clients-search></app-clients-search>
            <app-clients-list [origen]="CatOrigen.CLIENTS"></app-clients-list>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
