<!-- [formGroup]="editForm" -->
<div class="p-8" [formGroup]="editForm">
    <div fxLayout="column" fxLayoutGap="8px">

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="8px">

            <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>{{'CLIENTS.FIELDS.NAME' | translate}}</mat-label>
                <input autocomplete="off" matInput formControlName="name" />
            </mat-form-field>

            <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>{{'CLIENTS.FIELDS.LAST_NAME' | translate}}</mat-label>
                <input autocomplete="off" matInput formControlName="second_name" />
            </mat-form-field>

            <mat-form-field fxFlex="33%" appearance="outline">
                <mat-label>{{'CLIENTS.FIELDS.EMAIL' | translate}}</mat-label>
                <input autocomplete="off" matInput formControlName="last_name_father" />
            </mat-form-field>


        </div>

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="8px">

            <mat-form-field fxFlex="40%" appearance="outline">
                <mat-label>{{'CLIENTS.FIELDS.EMAIL' | translate}}</mat-label>
                <input autocomplete="off" matInput formControlName="last_name_mother" />
            </mat-form-field>

            <mat-form-field fxFlex="40%" appearance="outline">
                <mat-label>{{'CLIENTS.FIELDS.EMAIL' | translate}}</mat-label>
                <input autocomplete="off" matInput formControlName="email" />
            </mat-form-field>

            <!-- <mat-form-field fxFlex="40%" appearance="outline">
                <mat-label>{{'CLIENTS.FIELDS.RFC' | translate}}</mat-label>
                <input autocomplete="off" matInput formControlName="rfc" />
            </mat-form-field> -->

            <!-- <mat-form-field fxFlex="30%" appearance="outline">
          <mat-label>Fecha Inicial</mat-label>
          <input autocomplete="off" matInput [matDatepicker]="dpIni" formControlName="fechaInicial" />
          <mat-datepicker-toggle matSuffix [for]="dpIni"></mat-datepicker-toggle>
          <mat-datepicker #dpIni></mat-datepicker>
        </mat-form-field> -->

        </div>

    </div>
</div>