
<div class="p-8" [formGroup]="editForm">
    <div fxLayout="column" fxLayoutGap="8px">

        <!-- <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="8px">

            <mat-form-field fxFlex="80%" appearance="outline">
                <mat-label>Buscar Aquí</mat-label>
                <input autocomplete="off" matInput formControlName="name" />
            </mat-form-field>
           

        </div> -->

       

        <div fxLayout="column" fxLayout.gt-xs="row" fxLayoutGap="8px" fxLayoutGap.gt-xs="8px">
            <mat-dialog-actions fxLayoutGap="8px" fxLayoutAlign="end" fxFlex="100%">
               
                <!-- <button color="primary" mat-raised-button type="button" (click)="search()">
                    <mat-icon>search</mat-icon>&nbsp;<span>{{'CLIENTS.FIELDS.SEARCH' | translate}}</span>
                </button> -->

                <button color="primary" mat-raised-button type="button" (click)="newItem()" >
                    <mat-icon>add</mat-icon>&nbsp;<span>Nuevo</span>
                </button>
            </mat-dialog-actions>
        </div>

    </div>
</div>

<div *ngIf="listPage" class="mat-elevation-z8" style="margin-top: 25px">
    <fuse-table
        [columns]="columns"
        [data]="listPage"
        [totalItems]="totalItems"
        [pageSize]="itemsPerPage"
        [pageSizeOptions]="pageSizeOptions"
        [headerProperties]="headerProperties"
        [buttons]="buttons"
        (paginatorEvents)="loadPage($event)"
        (buttonsEvents)="buttonsEvents($event)"
        (addEvent)="newItem()">
    </fuse-table>
</div>
<div *ngIf="listPage === undefined">
    <skeleton-loader-table></skeleton-loader-table>
</div>