<div id="orders" class="page-layout carded fullwidth inner-scroll" [@fadeInOut]="{value:'*',params:{delay:'300ms',scale:'100', opacity:'0.5'}}">
    <!-- TOP BACKGROUND -->
    <div class="top-bg primary"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->

        <app-header-page [title]="nameTrip" [icon]="'post_add'" [subTitle]="'Generar Carta'"></app-header-page>

        <!-- / HEADER -->
        <div class="sidenav-content" style="overflow: auto">
            
            <app-generar-carta-detail></app-generar-carta-detail>
        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>