// Import Fuse core library
@import "@fuse/scss/core";
// Import app.theme.scss
@import "app/app.theme";
mat-chip {
    max-width: 100%;
}

.mat-radio-button~.mat-radio-button {
    margin-left: 16px;
}

.fix-read-only{
    color: black !important;
}

.detail{
    font-weight: bold; 
    text-decoration-line: underline;
}

tbody tr:nth-child(odd) {
    background-color: #ccc !important;
 }

 tr:nth-child(even) {
  background-color: #f2f2f2 !important;
}

.DRAFT{
    background-color: #ADCAE4;
    margin: 1em auto;
    border-radius: 25px;
    padding: 0 25px !important;
    display: inline-flex;
    font-weight: bold;
    color: #0077E2 !important;
}

.AWAITING_PAYMENT{
    background-color: #F29D5E;
    margin: 1em auto;
    border-radius: 25px;
    padding: 0 25px !important;
    display: inline-flex;
    font-weight: bold;
    color: #F46A04 !important;
}

.PAID{
    background-color: #A4EE83;
    margin: 1em auto;
    border-radius: 25px;
    padding: 0 25px !important;
    display: inline-flex;
    font-weight: bold;
    color: #2F9800 !important;
}

.REPEATING{
    background-color: #F2735E;
    margin: 1em auto;
    border-radius: 25px;
    padding: 0 25px !important;
    display: inline-flex;
    font-weight: bold;
    color: #F32403 !important;
}

.AUTHORISED{
    background-color: #2F4B1C;
    margin: 1em auto;
    border-radius: 25px;
    padding: 0 5px !important;
    display: inline-flex;
    font-weight: bold;
    color: #49B000 !important;
    font-size: 80%
}

.PENDDING{
    background-color: #FFC372;
    margin: 1em auto;
    border-radius: 25px;
    padding: 0 25px !important;
    display: inline-flex;
    font-weight: bold;
    color: #FF9200 !important;
}

.EXPIRING{
    background-color: #ff7272;
    margin: 1em auto;
    border-radius: 25px;
    padding: 0 25px !important;
    display: inline-flex;
    font-weight: bold;
    color: #ff0000 !important;
}

#demo-modal{
    z-index: 99 !important;
}

// .modal{
//     z-index: 99 !important;
// }

.swal2-popup {
    width: auto !important;
    min-width: 32rem !important;

}

.mat-table {
    overflow-x: scroll;
  }
  
  .mat-cell,
  .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
  }
  
  .mat-row,
  .mat-header-row {
    display: table-row;
  }